<div id="<%= dom_id author %>" class="card mb-3">
  <div class="card-body">
    <h3> Name </h3>
    <h5 class="card-title">
      <%= author.name %>
    </h5>
    <p class="card-text">
      <strong>Email:</strong> <%= author.email %>
    </p>
  
  </div>
</div>