<div class="container-fluid py-5 " >
    <section class="row">
      <div class="col-md-6 mb-3">
       <%= image_tag("wallpaper.jpg", alt: "Ocean Bookstore Photo 1", class: "img-fluid rounded") %>
      <div class="col-md-6">
        <p>Welcome to Ocean Bookstore, your one-stop shop for all your literary needs! We offer a vast collection of books across various genres, from classic bestsellers to the latest releases.</p>
        <p>Whether you're a seasoned reader or just starting your bookworm journey, we have something for everyone. Browse our shelves and discover new worlds, revisit your favorites, and lose yourself in the magic of storytelling.</p>
      </div>
    </section>

    <section class="row mt-5">
      </section>
  </div>
